
    <!DOCTYPE html>
    <html lang="en-US">
    <head>
      <meta charset="utf-8" />
      <title>Files by Softkave - 
Change Your Password</title>
      
<style>
body {
  font-family: arial;
}

.fbs-header {
  text-align: left;
}

.fbs-header h1 {
  font-size: 16px;
}

.fbs-body {
  margin-top: 32px;
  margin-bottom: 32px;
}

.fbs-content-center {
  max-width: 500px;
  padding-left: 16px;
  padding-right: 16px;
  margin: auto;
}

.fbs-footer {
  max-width: 500px;
  margin: auto
}
</style>

    </head>
    <body>
      
    <header class="fbs-header fbs-content-center">
      <h1>Files by Softkave - <br /> Change Your Password</h1>
    </header>
    
      <div class="fbs-body">
        <div class="fbs-content-center">
          <p>
            To change your password,
            <a href="https://files.softkave.com/accounts/forgot-password?t=jwt-token">click here</a>.
          </p>
          <p>- OR -</p>
          <p>
            Copy the following link, and visit in your browser:-<br />
            <a href="https://files.softkave.com/accounts/forgot-password?t=jwt-token">https://files.softkave.com/accounts/forgot-password?t=jwt-token</a>
          </p>
          <p>
            <strong>
              This link expires in less than a minute, on 03/14/2022 01:56 pm.
            </strong>
          </p>
          <p>
            If you did not request a change of password, please ignore this
            mail.
            <br />
            Do not share this link with anybody, as they will be able to
            change your password with it.
          </p>
        </div>
      </div>
      
    <footer class="fbs-footer fbs-content-center">
      &copy; - Files by Softkave - 2022
    </footer>
    
    </body>
    </html>
  